{% extends 'base_ju.html.twig' %}

{% block title %}Hello ParticipantInterfaceController!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="">
            <div class="col-12 d-flex justify-content-end mt-3 me-3">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_interface') }}" class="btn btn-dark me-3" >Back Office</a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
            </div>
            <h1 class="text-center p-5">Hello {{ app.user.username }} ! </h1>
        </div>
        <div class="container">
            <div class="text-center">
                <a href="{{ path('whiteboard') }}" class="btn btn-lg btn-success">Whiteboard</a>
            </div>
        </div>
    </div>
{% endblock %}
