{% extends 'base_ju.html.twig' %}

{% block title %}ImgSat{% endblock %}

{% block body %}
    <h1>ImgSat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ img_sat.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ img_sat.image }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ img_sat.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_img_sat_index') }}">back to list</a>

    <a href="{{ path('app_img_sat_edit', {'id': img_sat.id}) }}">edit</a>

    {{ include('img_sat/_delete_form.html.twig') }}
{% endblock %}
